@charset "utf-8";
//Created by godfery on 2016/10/24.

.rsuite-upload-wrap.modern{
    position: relative;

    .rsuite-upload-content input[type='file']{
        position: absolute !important;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px);
    }
}
